<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /play/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /play/$1 [L]
</IfModule>